[Unit]
Description=autocat3 Service
After=network.target

[Service]
User=autocat
Type=simple
RuntimeDirectory=autocat
WorkingDirectory=/var/lib/autocat/autocat3
ExecStartPre=-/usr/bin/mkdir -p /var/run/autocat ; -/usr/bin/curl -o /var/lib/autocat/menu.html https://raw.githubusercontent.com/gbnewby/gutenbergsite/master/_includes/menu.html
ExecStart=/usr/local/bin/pipenv run python CherryPyApp.py
#
# These next lines are for auto-restart. See: man systemd.service
Type=simple
PIDFile=/var/run/autocat/autocat3.pid
RemainAfterExit=no
Restart=on-failure
RestartSec=5s
TimeStartSec=5s

[Install]
WantedBy=multi-user.target
