[Unit]
Description=autocat3 Service
After=network.target

[Service]
User=autocat
Type=simple
RuntimeDirectory=autocat
WorkingDirectory=/var/lib/autocat/autocat3
ExecStartPre=-/usr/bin/mkdir -p /var/run/autocat
ExecStart=/usr/local/bin/pipenv run python CherryPyApp.py


[Install]
WantedBy=multi-user.target
