[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[packages]
"repoze.lru" = "*"
Babel = "*"
chardet = "*"
CherryPy = ">=18.6.0"
colorama = "*"
#command-not-found = "*"
Genshi = "*"
html5lib = "*"
isodate = "*"
#language-selector = "*"
libgutenberg = ">=0.10.30"
netaddr = "*"
oauth = "*"
oauthlib = "*"
Pillow = ">=9.1.0"
#pycurl = "*"
#PyGObject = "*"
pyparsing = "*"
#python-apt = "*"
pytz = "*"
qrcode = "*"
rdflib = "*"
regex = "*"
requests = "*"
requests-oauthlib = "*"
Routes = "*"
simplejson = "*"
six = "*"
SQLAlchemy = "<2"
#ufw = "*"
#unattended-upgrades = "*"
urllib3 = "==1.26.5"
lxml = ">=4.9.1"
psycopg2-binary = "*"
psycopg2 = "*"

