<html>
<table>
<tr>
<td class="noprint"><a href="/ebooks/downloadtest.pdf">Download Test</a></td>
<td class="noprint">
<a href="/ebooks/send/dropbox/test.pdf" title="Send to Dropbox." rel="nofollow"><span class="icon icon_dropbox">Dropbox</span></a>
</td>
<td class="noprint">
<a href="/ebooks/send/gdrive/test.pdf" title="Send to Google Drive." rel="nofollow"><span class="icon icon_gdrive">Google Drive</span></a>
</td>
<td class="noprint">
<a href="/ebooks/send/msdrive/test.pdf" title="Send to OneDrive." rel="nofollow"><span class="icon icon_msdrive">OneDrive</span></a>
</td>
</tr>
</table>
</html>