<?xml version="1.0" encoding="utf-8"?>
  <?python
  from itertools import cycle
  from libgutenberg.DublinCore import DublinCore
  from libgutenberg import GutenbergGlobals as gg
  
  from catalog import langoptions, langlots, langless
  from AdvSearchPage import MAX_RESULTS
  ?>
  <xi:include href="advsearch.html" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"/>
